<div class="p-8 w-full flex flex-col items-center justify-center">
  <div class="mb-6 text-center">
    <h1 class="text-2xl font-bold text-gray-800">Bienvenido de Nuevo</h1>
    <p class="text-gray-700 mt-2">Ingresa tus datos para acceder al sistema</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()" class="w-full max-w-md">
    <!-- Usuario -->
    <div class="space-y-2 mb-4">
      <label for="user" class="block mb-1">Usuario</label>
      <label class="input validator flex items-center gap-2">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </g>
        </svg>
        <input type="text" required id="user" formControlName="login" placeholder="tuUsuario" />
      </label>
      <p class="validator-hint text-sm text-red-500">Campo obligatorio</p>
    </div>

    <!-- Contraseña -->
    <div class="space-y-2 mb-4">
      <label for="passw" class="block mb-1">Contraseña</label>
      <label class="input validator flex items-center gap-2">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <path
              d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"
            ></path>
            <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
          </g>
        </svg>
        <input
          type="password"
          required
          id="pass"
          formControlName="password"
          placeholder="*******"
        />
      </label>
      <p class="validator-hint hidden text-sm text-red-500">Campo obligatorio</p>
    </div>

    <!-- Botón de ingreso -->
    <div class="flex justify-center mt-4">
      <button type="submit" [disabled]="form.invalid" class="btn btn-info text-white font-medium">
        Iniciar Sesión
      </button>
    </div>
  </form>
</div>
