<main class="bg-white mb-20 rounded-2xl">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-20 lg:px-8">
    <div class="max-w-2xl lg:max-w-4xl mx-auto text-center">
      <h2 class="text-3xl font-extrabold text-gray-900">Visitanos en nuestra ubicacion</h2>
      <p class="mt-4 text-lg text-gray-500">Carapari - Gran Chaco - Tarija - Bolivia</p>
    </div>
    <div class="mt-16 lg:mt-20">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="rounded-lg overflow-hidden">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3703.8355752703956!2d-63.7406157689549!3d-21.8252829441523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9408d35c8f3ab35d%3A0xdf60a6ab0669e01f!2sUnidad%20Educativa%20%223%20deMayo%20%22!5e0!3m2!1ses-419!2sbo!4v1760280957176!5m2!1ses-419!2sbo"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <div>
          <div class="max-w-full mx-auto rounded-lg overflow-hidden">
            <div class="px-6 py-4">
              <h3 class="text-lg font-medium text-gray-900">Nuestra direccion</h3>
              <p class="mt-1 text-gray-600">
                Av. Virgen de Guadalupe <br />
                Carretera a Tarija
              </p>
            </div>
            <div class="border-t border-gray-200 px-6 py-4">
              <h3 class="text-lg font-medium text-gray-900">Horas</h3>
              <p class="mt-1 text-gray-600">Lunes - Viernes: 7am - 12pm</p>
              <p class="mt-1 text-gray-600">Sabado: 10am - 12pm</p>
              <p class="mt-1 text-gray-600">Domingo: Cerrado</p>
            </div>
            <div class="border-t border-gray-200 px-6 py-4">
              <h3 class="text-lg font-medium text-gray-900">Contactos</h3>
              <p class="mt-1 text-gray-600">
                <a href="#">
                  <img
                    src="https://www.pngrepo.com/png/223047/512/gmail.png"
                    alt="gmail"
                    class="w-10 h-10"
                  />
                </a>
              </p>
              <p class="mt-1 text-gray-600">
                <a href="#">
                  <img
                    src="https://www.pngrepo.com/png/122874/512/whatsapp.png"
                    alt="whatsapp"
                    class="w-10 h-10"
                  />
                </a>
              </p>
              <p class="mt-1 text-gray-600">
                <a href="https://www.facebook.com/profile.php?id=100063621996943">
                  <img
                    src="https://www.pngrepo.com/png/13651/512/facebook.png"
                    alt="facebool"
                    class="w-10 h-10"
                  />
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
